/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #DB00FF;
  --border-hover-color: #FF007066;
  --title-decor-color: #000028;
  --content-text-color: #F1B2CE;
  --theme-menu-color: #ff0070;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
}