/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #DB00FF;
  --border-hover-color: rgba(255, 0, 112, 0.4);
  --title-decor-color: #000028;
  --content-text-color: #F1B2CE;
  --theme-menu-color: #ff0070;
  --decor-color: #ff0070;
  --decor-corners-color: #ff0070;
  --section-title-color: #ff0070;
  --font-family: 'IBM Plex Mono', monospace;
  --font-size-basic: 18px;
  --font-size-heading: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --line-height-decor: 25px;
  --line-height-menu: 18px;
  --line-height-heading: 83%;
  --line-height-main: 23.4px;
  --bold: 700;
  --regular: 400;
  --padding: 10px;
  --margin-top: 30px;
}

@media (width >= 768px) {
  :root {
    --padding: 20px;
    --margin-top: 40px;
    --font-size-heading: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}